@using Skilled_Force_VS_22.Models
@{
    ViewData["Title"] = "Skilled Force";
}
@model Skilled_Force_VS_22.Manager.PaginatedList<User>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<link href="@Url.Content("~/css/JobList.css")" rel="stylesheet" type="text/css" />


<div class="container">
    <div class="container text-center pt-3">
        <h2>Manage Company Users</h2>
    </div>
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="career-search mb-60">
                @using (Html.BeginForm("GetRecruiters", "Account", FormMethod.Post, new { @class = "career-form mb-60" }))
                {
                    <div class="row">
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="input-group position-relative">
                                @Html.TextBox("keywords", null, new { id = "keywords", @class = "form-control", @placeholder="Keyword search"  })
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 my-3">
                            <button type="submit" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit">
                                Search
                            </button>
                        </div>
                        <div class="col-md-6 col-lg-6 my-3">
                            @Html.ActionLink("Add User", "RecruiterRegister", "Account", null, new { @class = "btn btn-lg btn-block btn-light btn-custom", @style="float: right;"} )
                        </div>
                    </div>
                }

                <div class="filter-result">
                    @*<p class="mb-30 ff-montserrat">Total users : @Enumerable.Count(ViewBag.users)</p>*@
                    @foreach (var user in Model)
                    {
                        <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                            <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
                                <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                                    @user.FirstName.Substring(0,1).ToUpper()@user.LastName.Substring(0,1).ToUpper()
                                </div>
                                <div class="job-content">
                                    <h5 class="text-center text-md-left">@user.FullName</h5>
                                    <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                                        <li class="mr-md-4">
                                            <i class=" mr-2"></i> @user.Email
                                        </li>  &emsp;
                                        <li class="mr-md-4">
                                            <i class="mr-2"></i> @user.Phone
                                        </li>  &emsp;
                                        <li class="mr-md-4">
                                            <i class="mr-2"></i> @user.Gender
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="job-right my-4 flex-shrink-0">
                                @Html.ActionLink("Edit", "EditRecruiterDetails", "Account", new { @user.UserId }, new { @class = "btn d-block w-100 d-sm-inline-block btn-primary" } )
                                @Html.ActionLink("Delete", "DeleteRecruiter", "Account", new { @user.UserId }, new { @class = "btn d-block w-100 d-sm-inline-block btn-primary" } )
                            </div>
                        </div>
                    }
                </div>
            </div>
            @if(Model.Count() > 0){                
                <nav aria-label="Page navigation">
                <ul class="pagination pagination-reset justify-content-center">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <a asp-action="GetRecruiters"
                        asp-route-pageNumber="@(Model.PageIndex - 1)"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]"
                        class="btn btn-lg btn-block btn-primary btn-custom @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="GetRecruiters"
                        asp-route-pageNumber="@(Model.PageIndex + 1)"
                        class="btn btn-lg btn-block btn-primary btn-custom @nextDisabled">
                        Next
                    </a>
                </ul>
            </nav>
            }
        </div>
    </div>

</div>