@{
    ViewData["Title"] = "Skilled Force";
}

@model List<Chat>
<script src="https://code.jquery.com/jquery-2.1.1.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<link href="@Url.Content("~/css/Messages.css")" rel="stylesheet" type="text/css" />
@{
    string userId = Context.Session.GetString("UserId");
    string usrImage = "/images/avatardefault.png";
    string chatId = "";
    string toUserId = "";
    string fullName = "";
    string firstName = "";
    string email = "";
}
<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <h5>Conversations</h5>
                        </div>
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0"  style="max-height: 53vh;min-height: 53vh ;overflow-y: auto;" >
                        @{
                            foreach (Chat chat in Model)
                            {                                
                                chatId = chat.ChatId;   
                                @if (chat.ToUser.UserId.Equals(userId))
                                {
                                    if(ViewBag.chatId == chatId)
                                    {
                                        fullName = chat.FromUser.FullName;
                                        email = chat.FromUser.Email;
                                    }                                 
                                    firstName = chat.FromUser.FirstName;
                                    toUserId = chat.FromUser.UserId;
                                }
                                else
                                {
                                    if(ViewBag.chatId == chatId)
                                    {
                                        fullName = chat.ToUser.FullName;
                                        email = chat.ToUser.Email;
                                    }                                    
                                    firstName = chat.ToUser.FirstName;
                                    toUserId = chat.ToUser.UserId;
                                }                            

                                string active = "active";
                                string blank = "";
                                <li class="clearfix @((ViewBag.chatId != null && ViewBag.chatId == chatId) ? active: blank)" onclick="location.href='/Chat/GetChatList?chatId=@chatId';">
                                    <img src=@usrImage alt="avatar" data-toggle="tooltip" data-placement="left" title=@firstName>
                                    <div class="about">
                                        <div class="name">@firstName </div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="chat">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src=@usrImage alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">@fullName</h6>
                                    <small>@email</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                    <div class="container" id="messageContainer" style="height: 44vh; overflow-y: auto;">
                        <div class="chat-history @*row*@">
                            <ul class="m-b-0">
                                @foreach (Message message in ViewBag.messages)
                                {
                                    bool isLoginUserMessage = message.FromUserId == Context.Session.GetString("UserId");
                                    <li style="text-align:@(isLoginUserMessage ? "right" : "left")">
                                        <div class="message my-message">
                                            @if (isLoginUserMessage)
                                            {
                                                <b style="color: #109921;">You: </b>
                                            }
                                            else
                                            {
                                                <b style="color: #5294e2;">@message.FromUser.FirstName: </b>
                                            }
                                            <div>@message.UserMessage</div>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                        </div>
                        <div class="chat-message clearfix">
                            @using (Html.BeginForm("SendMessage", "Chat", FormMethod.Post))
                            {
                                @Html.Hidden("chatId", @chatId )
                                @Html.Hidden("ToUserId", @toUserId )
                                <div class="row">
                                    <div class="col-sm-11">
                                        <input name="userMessage" type="text" class="form-control" placeholder="Enter text here..." @(Model.Count == 0 ? "readonly" : "")>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-primary" type="submit" @(Model.Count == 0 ? "disabled=disabled" : "")>
                                            <i class="fa fa-send"></i>
                                        </button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.chat {
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    max-height:60vh;
    justify-content: space-between;
}
</style>

<script>
    function scrollBottom(id){
        var objDiv = document.getElementById(id);
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    window.onload = function() {
        scrollBottom("messageContainer");    
    };
</script>
