@model Job


@{ ViewData["Title"] = "Skilled Force Job post page"; }
  <div class="container py-5 h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div>
             <h3 class="mb-5">Job information</h3>    
             @Html.ActionLink(ViewData["companyName"].ToString(), "GetCompanyDetails", "Company", new { @Model.CompanyId }, new { @class = "btn btn-primary btn-lg btn-block mb-4 col-sm-4 offset-sm-4" } )  
            </div>
            <div class="form-outline mb-4"> 
                @Html.LabelFor(m => m.Title, new {@class="form-label"})
                @Html.TextBoxFor(m => m.Title, null, new { @class = "form-control form-control-lg", @readonly="readonly"})
            </div>
            <div class="row">
                <div class="form-outline mb-4 col-sm-6">
                    @Html.LabelFor(m => m.JobType)
                    @Html.TextBoxFor(m => m.JobType, null, new { id = "JobType", @class = "form-control form-control-lg", @readonly="readonly" })
                </div>
                    <div class="form-outline mb-4 col-sm-6">
                    @Html.LabelFor(m => m.EmploymentType)
                    @Html.TextBoxFor(m => m.EmploymentType, null, new { id = "EmploymentType", @class = "form-control form-control-lg", @readonly="readonly" })
                </div>
            </div>
            <div class="form-outline mb-4">
                @Html.LabelFor(m => m.Description)
                @Html.TextAreaFor(m => m.Description, 10, 10, new { @class= "form-control form-control-lg", @readonly="readonly" })
            </div>          
                <div class="row">
                <div class="form-outline mb-4 col-sm-6">
                    @Html.LabelFor(m => m.Location)
                    @Html.TextBoxFor(m => m.Location, null, new { @class = "form-control form-control-lg", @readonly="readonly" })
                </div>
                <div class="form-outline mb-4 col-sm-6">
                    @Html.LabelFor(m => m.Salary)
                    @Html.TextBoxFor(m => m.Salary, new { @class = "form-control form-control-lg", @readonly="readonly" })
                </div>
            </div>
            <div class="row">
                @if (@Model.IsApplied)
                {
                    @Html.ActionLink("Cancel application", "JobCancel", "Job", new { @Model.JobId }, new { @class = "btn btn-primary btn-lg btn-block mb-4 col-sm-4 offset-sm-4" } )
                } else
                {
                    @Html.ActionLink("Apply now", "JobApply", "Job", new { @Model.JobId }, new { @class = "btn btn-primary btn-lg btn-block mb-4 col-sm-4 offset-sm-4" } )
                }
            </div>
            <div class="row">
                <button class="btn btn-primary btn-lg btn-block mb-4 col-sm-4 offset-sm-4" type="button" onclick="goPrev()" >Go back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
    function goPrev()
    {
        window.history.back();
    }
</script>